<div class="page-edit anim-slide-right">
<div class="page-header">
    <h2>编辑水果</h2>
</div>
<div class="panel panel-default">
<div class="panel-body">
    <form role="form" name="editForm" ng-submit="submitForm()" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : editForm.fruitName.$invalid && !editForm.fruitName.$pristine }">
            <label for="fruitName">名字:</label>
            <input type="text" name="fruitName" autocomplete="off" required class="form-control" id="fruitName" ng-model="formData.fruitName" placeholder="请输入水果名">
            <p ng-show="editForm.fruitName.$dirty && editForm.fruitName.$invalid" class="text-danger">必填</p>
        </div>
        <div class="form-group"  ng-class="{ 'has-error' : editForm.price.$invalid && !editForm.price.$pristine }">
            <label for="price">价格:</label>
            <input type="number" name="price" autocomplete="off" required class="form-control" id="price" ng-model="formData.price" placeholder="请输入价格">
            <p ng-show="editForm.price.$dirty && editForm.price.$invalid" class="text-danger">请输入数字</p>
        </div>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">添加</button>
    </form>
</div>
</div>
</div>
